body [id*="standard_iab"] {
    padding-bottom: 0px !important;
}

#pw-oop-bottom_rail {
    background-color: #ffffff !important;
    z-index: 1000 !important;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 15px rgba(0, 0, 0, 0.05),
        0 20px 25px rgba(0, 0, 0, 0.02);
}

@media only screen and (min-width: 768px) {

    #site_footer_wrap {
        padding-bottom: 115px !important;
    }

    #standard_iab_rght1 {
        position: sticky;
        top: 20px;
        margin-left: 70% !important;
    }

    #select-lang,
    #x-gist-floating-bottom,
    #x-gist-floating-bottom-left,
    #x-gist-floating-bottom-right {
        z-index: 2147483646 !important;
    }
}

@media only screen and (max-width: 1520px) {

    #pw-oop-right_rail,
    #pw-oop-right_rail2 {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {

    #site_footer_wrap {
        padding-bottom: 70px !important;
    }

    #pw-oop-bottom_rail {
        z-index: 100000 !important;
    }
}


/*FLEX SKINS START*/
/*970px is the min width that screen size must be for backgrounds to show*/
@media only screen and (min-width: 970px) {
  body.flex-skin-active,
  body.flex-skin-docked {
    /*Make body transparent*/
    background-color: rgba(0, 0, 0, 0)!important;
  }
  
  body.flex-skin-active #app > div,
  body.flex-skin-docked #app > div{
    width: 1100px;
    background: #fff;
    margin: 0 auto;
  }

  body.flex-skin-active #page,
  body.flex-skin-docked #page{
    margin-top: 0!important;
    padding-top: 24px;
  }

}
@media only screen and (max-width: 969px) {

  body.flex-skin-active button._close_kie47_156,
  body.flex-skin-active ._mobile_kie47_135{
    position: absolute!important;
    top: 210px!important;
  }
  /*
  body.flex-skin-docked ._dropdownWrap_kie47_263{
    position: sticky;
    top: 70px;
  }*/
}
/*FLEX SKINS END*/
