{
  "presets": [
    // "@babel/preset-env"
    "@babel/preset-react",
    // "react-app"
    "@babel/preset-typescript"
  ],
  "plugins": [
    // "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
