# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage
/profiles

# production
/build
/dist
/web-ext-artifacts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
.parcel-cache

# secrets
secrets.*.js
