.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  width: 110px;
  align-items: center;
  justify-content: center;
}

.bpmDisplayContainer {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// this mirrors .otherControlsRow in PitchAdjust.module.scss
.otherControlsRow {
  display: flex;
  gap: 8px;
  width: 100%;
}
