.panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.faderRow {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;

  input[type='range'] {
    flex-grow: 1;
  }
}

.buttonRow {
  display: flex;
  gap: 8px;
  width: 100%;
}
