.pitchAdjust {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  max-width: 100%;
  margin-top: 8px;
}

.sliderContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.otherControlsRow {
  display: flex;
  gap: 8px;
  width: 100%;
}
