.BandcampTempoAdjust {
  &__slider {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: flex-end;

    &--collection {
      margin-left: 32px;
      flex-direction: column;
    }

    &_range {
      appearance: none;
      display: inline-block;
      vertical-align: middle;
      height: 4px;
      width: 85px;
      outline: none;
      background: rgba(255, 255, 255, 0.3);
      border-width: 1px;
      border-style: solid;
      border-image: initial;
      border-color: rgba(0, 0, 0, 0.15);
      border-radius: 1px;
      width: 88px;

      &--collection {
        width: 60px;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.25);
        height: 10px;
        width: 17px;
      }

      &::-moz-range-thumb {
        appearance: none;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 0;
        height: 10px;
        width: 17px;
      }

      &--collection {
        height: 3px;
        background: rgba(50, 50, 50, 0.4);
        border: none;
        margin-top: 3px;

        &::-moz-range-thumb {
          appearance: none;
          background: #333;
          border-radius: 50%;
          height: 9px;
          width: 9px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          background: #333;
          border-radius: 50%;
          height: 9px;
          width: 9px;
        }
      }
    }
  }

  &__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-right: 0;

    &--collection {
      color: #505958;
    }

    &--purchases {
      color: #00a1c6
    }
  }

  &__purchases {
    &_container {
      background-color: #fff;
      border: 1px solid #E8E8E8;
      width: 100%;
      margin-top: 40px;
    }

    &_row {
      display: flex;
      padding: 16px;
      gap: 8px;
      border-top: 1px solid #E8E8E8;

      &:first-of-type {
        border-top: none;
      }

      &--controls {
        align-items: center;
      }
    }
  }
}
